.titulo-productos {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: normal;
    color: #ffd60a;
    background-color: #000033;
    padding-top: 3em;
    padding-bottom: 1em;
    padding-left: 0em;
    padding-right: 0em;
    margin: 0;
}

.seccion-productos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #000033;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-right: 150px;
    padding-left: 150px;
}