.checkout {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.9);
    z-index: 15;
    overflow: hidden;
}

.checkout-hijo {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
    height: 100vh;
    background-image: linear-gradient(45deg, black, #0c0a3e, #0c0a3e);
    margin: auto;
}


.checkout-titulo {
    margin-top: 50px;
    font-size: 35px;
    display: flex;
    justify-content: center;
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: normal;
    color: #ff64f7;
}

.checkout-salir {
    position: absolute;
    left: 72.5%;
    top: 9%;
    margin-right: auto;
    font-size: 25px;
    cursor: pointer;
    text-decoration: none;
    margin-left: auto;
    /*Sacarle los estilos que vienen por defecto en las etiquetas <button> con estas 3 propiedades:*/
    background-color: transparent;
    border: none;
    box-shadow: none;
    /*Transición para el hover*/
    transition: all 0.5s ease;
}

.checkout-salir:hover {
    transform: scale(1.5);
}

.checkout-form {
    margin-top: 75px;
}

.checkout-label {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    color: #ff64f7;
}

.checkout-input {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 450px;
    height: 30px;
}


.checkout-form-div {
    margin-top: 25px;
}


.checkout-generar-orden {
    margin-left: auto;
    margin-right: auto;
    display: block;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    color: #000033;
    margin-top: 50px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    cursor: pointer;
    /*Sacarle los estilos que vienen por defecto en las etiquetas <button> con estas 3 propiedades:*/
    background-color: #ff64f7;
    border: 2px solid #ff64f7;
    box-shadow: none;
}


.checkout-generar-orden:hover {
    background-color: transparent;
    color: #ff64f7;
}

.checkout-realizado {
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 22.5px;
    color: #ff64f7;
    margin-top: 20px;
}