.header {
    position: sticky;
    z-index: 10;
    top: 0;
    background-image: linear-gradient(45deg, black, #0c0a3e, #0c0a3e);
}

.header-hijo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 15vh;
    text-decoration: none;
    cursor: pointer;
    margin-left: 75px;
    margin-right: 75px;
}

.header-navlink {
    display: flex;
    align-items: center;
}

.header-logo {
    width: 40px;
    height: 40px;
}

.header-titulo {
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    margin-left: 25px;
}

.header a {
    text-decoration: none;
    color: #ff64f7;
}