.header2 {
    position: sticky;
    z-index: 10;
    top: 0;
    background-image: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header2-hijo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 15vh;
    width: 80%;
    text-decoration: none;
    cursor: pointer;
}

.header2-navlink {
    display: flex;
    align-items: center;
}

.header2-logo {
    width: 40px;
    height: 40px;
}

.header2-titulo {
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    margin-left: 25px;
}

.header2 a {
    text-decoration: none;
    color: #ff64f7;
}