* {
  margin: 0;
  padding: 0;
}

.header {
  padding: 20px;
  background-color: blueviolet;
}

.navbar {
  background-color: lightseagreen;
}

.main {
  padding: 40px;
  background-color: grey;
}

.footer {
  padding: 20px;
  background-color: blueviolet;
}
