.item-count {
    display: flex;
    justify-content: space-between;
    align-items: center;
}



.item-count-contador{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: auto;
    background-color: #ff64f7;
    max-height: 35px;
    min-height: 35px;
    max-width: 100px;
    min-width: 100px;
}

.restar {
    padding-left: 15px;
    padding-right: 15px;
    color: black;
    cursor: pointer;
    /*Sacarle los estilos que vienen por defecto en las etiquetas <button> con estas 3 propiedades:*/
    background-color: transparent;
    border: none;
    box-shadow: none;
}

.cantidad {
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    color: black;
    background-color: transparent;
    margin-left: auto;
    margin-right: auto;
}

.sumar {
    padding-left: 15px;
    padding-right: 15px;
    color: black;
    cursor: pointer;
    /*Sacarle los estilos que vienen por defecto en las etiquetas <button> con estas 3 propiedades:*/
    background-color: transparent;
    border: none;
    box-shadow: none;
}





.item-count-boton {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.agregar-carrito {
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    color: black;
    max-height: 35px;
    min-height: 35px;
    max-width: 300px;
    min-width: 300px;
    cursor: pointer;
    /*Sacarle los estilos que vienen por defecto en las etiquetas <button> con estas 3 propiedades*/
    background-color: #ff64f7;
    border: none;
    box-shadow: none;
}

.agregar-carrito:hover {
    border: 2px solid #ff64f7;
    background-color: transparent;
    color: #ff64f7;
}

.finalizar-compra {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    color: black;
    text-decoration: none;
    max-height: 35px;
    min-height: 35px;
    max-width: 300px;
    min-width: 300px;
    /*Sacarle los estilos que vienen por defecto en las etiquetas <button> con estas 3 propiedades*/
    background-color: #ff64f7;
    border: none;
    box-shadow: none;
}